.hero-section {
    border-radius: 0 0 200px 200px;
    margin-bottom: 100px;

    .hero__inner {
        @include tablet {
            text-align: center;
            padding-bottom: 20px;
        }

        box-sizing: border-box;
        width: auto;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: flex-end;
        padding-inline: 25px;
        padding-bottom: 100px;

        .hero__heading {
            color: var(--orange-primary-color);
        }
    
        .hero__cta-container {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            gap: 40px;

            @include mobile {
                align-items: center;
            }

            .hero__title {
                line-height: 139%;
            }
            
            .hero__cta-button {
                width: 150px;
            }
        }
    }
}

.section--colored {
    background-color: var(--pink-primary-color);
}

@include desktop {
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 350px;

        .hero__inner {
            .hero__cta-container {
                margin-top: 0px;
                gap: 5px;
            }
        }
    
    }

    .hero__image {
        display: none;
    }
}

@include mobile {
    .hero-section {
    border-radius: 0;
    margin-bottom: 50px;
    }
}